[Unit]
Description=Sample Project Service
After=network.target

[Service]
Type=simple
User=sampleuser
WorkingDirectory=/usr/share/samplepyproject
ExecStart=/usr/bin/python3 -m samplepyproject
Restart=on-failure

[Install]
WantedBy=multi-user.target
