[Unit]
Description=Sample Project Service
After=network.target

[Service]
Type=simple
User=samplepyuser
ExecStart=/usr/bin/python3 -m sample
Restart=on-failure

[Install]
WantedBy=multi-user.target

